{% extends 'base.html' %}


{% block title %}
    Log In | Private_diary
{% endblock title %}


{% block active_login %}
    active
{% endblock active_login %}


{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <h1>Log In</h1>
                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}

                    {{ form.as_p}}

                    
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                    {% endif %}

                    <button class="btn btn-primary" type="submit">ログイン</button>
                    <p><a href="{% url 'account_reset_password' %}" class="button secondaryAction">パスワードを忘れましたか？</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock contents %}