{% extends 'base.html' %}


{% block title %}
    パスワードリセット | Private Diary\
{% endblock title %}


{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <h1>パスワードリセット</h1>
                
                {% if user.authenticated %}
                    {% include 'accounts/snippets/already_loggin_in.html' %}
                {% endif %}
                    
                <p>パスワードリセット用メールを送信します。</p>

                <form method="POST" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    
                    {{ form.as_p }}

                    <button class="btn btn-primary" type="submit">送信</button>
                </form>
            </div>
        </div>
    </div>
{% endblock contents %}