{% extends 'base.html' %}


{% block title %}
    Password reset done | Private Diary
{% endblock title %}


{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <h1>パスワードリセット</h1>

                
                {% if user.is_authenticated %}
                    {% include 'account/snippets/already_logged_in.html' %}
                {% endif %}

                <p>パスワードリセット用のメールを送信しました。</p>
            </div>
        </div>
    </div>
{% endblock contents %}