{% extends 'base.html' %}


{% block title %}
    404エラー | Private Diary
{% endblock title %}
    

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
                <h1>ページが見つかりませんでした。</h1>
            </div>
        </div>
    </div>
{% endblock contents %}
    