{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/one-page-wonder.min.css' %}">

    <!-- My style -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    
    {% block head %}{% endblock head %}

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
                <a href="{% url 'diary:index' %}" class="navbar-brand">PRIVATE DIARY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponvive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item{% block active_inquiry %}{% endblock %}">
                            <a href="{% url 'diary:inquiry' %}" class="nav-link">INQUIRY</a>
                        </li>
                        
                        {% if user.is_authenticated %}
                            <li class="nav-item {% block active_diary_list %}{% endblock %}">
                                <a href="{% url 'diary:diary_list' %}" class="nav-link">DIARY LIST</a>
                            </li>
                        {% endif %}
                            
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" class="nav-link">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item {% block active_signup %}{% endblock %}">
                                <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
                            </li>
                            <li class="nav-item {% block active_login %}{% endblock %}">
                                <a href="{% url 'account_login' %}" class="nav-link">Log In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        
        {% block header %}
            
        {% endblock header %}

        
        {% if messages %}
            <div class="container">
                <div class="row">
                    <div class="my-div-style w-100">
                        <ul class="messages" style="list-style: none;">
                            
                            {% for message in messages %}
                                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% block contents %}
            
        {% endblock contents %}

        <!-- Footer -->
        <footer class="py-5 bg-black">
            <div class="container">
                <p class="m-0 text-center text-white small">Copyright &copy; Private Diary 2019</p>
            </div>
        </footer>

        <!-- Bootstrap core Javascript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </div>
</body>
</html>