{% extends 'base.html' %}
{% load static %}


{% block title %}
    日記一覧 | Private Diary
{% endblock title %}


{% block active_diary_list %}
    active
{% endblock active_diary_list %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/clean-blog.min.css' %}">
{% endblock head %}


{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="clearfix">
                        <a href="{% url 'diary:diary_create' %}" class="btn btn-primary float-right">新規作成</a>
                    </div>
                    
                    {% for diary in diary_list %}
                        <div class="post-preview">
                            <a href="{% url 'diary:diary_detail' diary.pk %}">
                                <h2 class="post-title">
                                    {{ diary.title }}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{ diary.content | truncatechars:20 }}
                                </h3>
                                <p class="post-meta">{{ diary.created_at }}</p>
                            </a>
                        </div>
                    {% empty %}
                        <p>日記がありません。</p>
                    {% endfor %}
                        
                    <!--ページネーション処理 -->
                    
                    {% if is_paginated %}
                        <ul class="pagination">
                            <!-- 前ページへのリンク -->
                            
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            <!-- ページ数表示 -->
                            
                            {% for page_num in page_obj.paginator.page_range %}
                                
                                {% if page_obj.number == page_num %}
                                    <li class="page-item active">
                                        <a href="#" class="page-link">{{ page_num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                                    
                            {% endfor %}

                            <!-- 次ページへのリンク -->
                            
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                                
                        </ul>
                    {% endif %}
                        
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}