{% extends 'base.html' %}
{% load static %}


{% block title %}
    日記削除 | Private Diary
{% endblock title %}
    

{% block active_diary_list %}
    active
{% endblock active_diary_list %}
    

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
                <form method="POST">
                    {% csrf_token %}
                    <p>本当に削除しますか？</p>
                    <button class="btn btn-primary mt-5" type="submit">削除</button>
                    <a href="{% url 'diary:diary_detail' object.pk %}" class="btn btn-primary mt-5 ml-2">キャンセル</a>
                </form>
            </div>
        </div>
    </div>
{% endblock contents %}
    