{% extends 'base.html' %}
{% load static %}


{% block title %}
    Web上にあなた専用の日記ページを保存できるサービス | Private Diary
{% endblock title %}


{% block header %}
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Private Diary</h1>
                <h2 class="masthead-suheading mb-0">あなた専用の日記保存サービス</h2>
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
{% endblock header %}


{% block contents %}
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img src="{% static 'img/01.jpg' %}" alt="" class="img-fluid rounded-circle">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Web Diary</h2>
                        <p>Web上で作成/編集/削除ができる日記</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img src="{% static 'img/02.jpg' %}" alt="" class="img-fluid rounded-circle">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Save Your Diary</h2>
                        <p>あなたの日記Webに保存</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img src="{% static 'img/03.jpg' %}" alt="" class="img-fluid rounded-circle">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Membership System</h2>
                        <p>会員制のWeb日記サービス</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contents %}